PREFIX=os
NETWORK_PREFIX=${PREFIX}-

ADMIN_NAME=${NETWORK_PREFIX}admin
ADMIN_NETWORK=10.11.11.0
ADMIN_NETMASK=255.255.255.0
ADMIN_HOST_IP=$(echo ${ADMIN_NETWORK} | sed 's/\.[0-9]*$/.254/')

EXTERNAL_NAME=${NETWORK_PREFIX}external
EXTERNAL_NETWORK=10.11.22.0
EXTERNAL_NETMASK=255.255.255.0
EXTERNAL_DHCP_START=10.11.22.10
EXTERNAL_DHCP_END=10.11.22.254
EXTERNAL_HOST_IP=10.11.22.2

SSH_KEY=$(cat /home/june/.ssh/id_rsa.pub)

IMAGE_PATH=/var/lib/libvirt/images
IMAGE_XENIAL_PATH=${IMAGE_PATH}/xenial-image.qcow2
IMAGE_BIONIC_PATH=${IMAGE_PATH}/bionic-image.qcow2
IMAGE_FOCAL_PATH=${IMAGE_PATH}/focal-image.qcow2
IMAGE_DEVSTACK_PATH=${IMAGE_PATH}/devstack-image.qcow2
IMAGE_COREOS_PATH=${IMAGE_PATH}/coreos-image.qcow2
IMAGE_USERDATA_PATH=${IMAGE_PATH}/my-user-data.img
DEVSTACK_IMAGE_USERDATA_PATH=${IMAGE_PATH}/devstack-user-data.img
